main {
	padding: 0 2rem 2rem;
}
.selectors {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
h1 {
	width:100%;
	margin-top:0;
}
h2 {
	padding-bottom: .5rem;
    border-bottom: 5px solid #17d980;
    margin: 2em auto;
}
.selectors a,
.selectors div {
    width:50%;
	height:9em;
	display: flex;
}
.selectors a img {
	margin:auto;
}
.selectors a:hover {
	box-shadow: 0 0 13px 0 #e0e0e0;
}

@media only screen and (max-width: 700px) {
	html {
		background: #fff;
	}
	.selectors a,
	.selectors div {
		width:100%;
	}
}

@supports(padding: max(0px)) {
	@media only screen and (max-width: 700px) {
		header,
		main,
		footer {
			padding-left: max(1em, env(safe-area-inset-left));
			padding-right: max(1em, env(safe-area-inset-right));
		}
	}
}