.selectors {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
h1 {
	width:100%;
	margin-top:0;
}
.selectors a {
    width:50%;
	height:9em;
	display: flex;
}
.selectors a img {
	margin:auto;
}
.selectors a:hover {
	box-shadow: 0 0 13px 0 #e0e0e0;
}

@media only screen and (max-width: 700px) {
	.selectors a {
		width:100%;
	}
}