html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; 
	margin:0;
	padding:0;
	font-family: 'Quicksand', Arial,  Helvetica, sans-serif;
	font-size:18px;
	color:#2e343b;
	color: rgba(0,0,0,.75);
	/*background-color: #fafafa;*/
}
*, 
*:before, 
*:after {
	box-sizing: inherit;
}
input, 
label,
a,
header {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}
a,
button,
input[type='radio'],
input[type='radio'] + label,
input[type='checkbox'],
input[type='checkbox'] + label {
	cursor: pointer;
}
input:focus, 
select:focus, 
textarea:focus, 
button:focus {
    outline: none;
}
a, button {
	font-family: 'Quicksand', Arial,  Helvetica, sans-serif;
	font-size:1em;
	text-decoration: none;
	white-space: nowrap;
	/*color:#FF5F5A;*/
	color:rgba(255,95,90,.75);
	font-weight:bold;
	border:none;
	padding:0;
}
a:hover,
button:hover {
	color:rgba(255,95,90,.95);
}
a:active,
button:active {
	color:rgba(255,95,90,.75);
}
h1 span,
h2 span,
h3 span {
	white-space: nowrap;
}

body {
	margin: 2em auto;
	padding:2em;
	border-radius: .25em;
	max-width:700px;
	box-shadow: 0px 0px 5em 0px rgba(0,0,0,0.1);
}
header {
	display:flex;
	justify-content: space-between;
	align-items: center;
}
header a {
	flex-grow: 1;
}
header > div,
header > button {
	visibility: hidden;
	opacity: 0;
	text-align: right;
}
header button {
	font-size:2em;
	padding-left:.5em;
}
#ticker {
	font-weight:bold;
}
#updated {
	display: block;
	font-size:.75em;
}
main {}
header *,
section {
	transition: visibility .5s linear, opacity 1s linear, max-height .5s ease-in-out;
}
section {
	visibility: hidden;
	opacity: 0;
	max-height:1em;
	padding-bottom:2em;
}
section:last-of-type {
	padding-bottom:0;
}
h1 {
	font-size:2em;
}
.logo {
	height:2em;
}
/*.loader {
	background-image: url('http://samherbert.net/svg-loaders/svg-loaders/audio.svg');
}*/
.loader {
	text-align:center;
}
.loader svg {
	fill:rgba(255,95,90,.75);
	margin: 5em 0;
	transition: margin 1s 1s ease;
	-webkit-transition: margin 1s 1s ease;
}
.loaded .loader {
	display:none;
}
.loaded .loader svg {
	margin:0;
}
.loaded header > div,
.loaded header > button {
	visibility: visible;
	opacity: 1;
}
.loaded section {
	visibility: visible;
	opacity: 1;
	max-height:1000em;
}
.thomaBravo {
	background-color:#004972;
}
.data div span {
	white-space: nowrap;
}
#price_changes {
	margin-bottom:1em;
}
.up {
	color:#008489;
}
.up:before {
	content:'\f062';
	font-family: FontAwesome;
}
.down {
	color:red;
}
.down:before {
	content:'\f063';
	font-family: FontAwesome;
}

#market_cap,
#enterprise_value,
#revenues .multiple {
	display:inline-block;
	width:49%;
	padding: 0 1em;
	text-align:center;
}
#market_cap,
#enterprise_value {
	margin-bottom:1em;
}
#market_cap,
#revenues .multiple:first-of-type {
	border-right:1px solid grey;
}

#returns {
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
#returns h1 {
	width:100%;
}
#returns > div {
	/*display:inline-block;*/
	/*width:32%;*/
}
#returns h3 {
	margin:0;
}
#returns > div > span {
	font-size:.75em;
	text-transform: uppercase;
	font-weight:bold;
}
.MoM {
	color:rgba(0,0,0,.5);
}


@media only screen and (max-width: 700px) {
	html {
		font-size:16px;
	}
	body {
		margin:0;
		padding: 2em 1em;
		padding-left: env(safe-area-inset-left);
    	padding-right: env(safe-area-inset-right);
	}
}

@supports(padding: max(0px)) {
	@media only screen and (max-width: 700px) {
	    body {
	        padding-left: max(1em, env(safe-area-inset-left));
	        padding-right: max(1em, env(safe-area-inset-right));
	    }
	}
}




